body {
    background-color: #F9F8FF;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar-1 {
    width: 17.85%;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    border-right: 1px solid #C5C5C5;
}

.sidebar-2 {
    width: 24.5%;
    background-color: #ffffff;
    padding: 15px;
    border-left: 1px solid #C5C5C5;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
}

.over {
    display: flex;
    align-items: center;
    gap: 20px;
}

.overview i {
    color: #9896A3;
    font-size: 20px;
}

.overview p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.calender {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.calender i {
    color: #9896A3;
    font-size: 20px;
}

.calender p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.analytics {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.analytics i {
    color: #9896A3;
    font-size: 20px;
}

.analytics p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.activity {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.activity i {
    color: #9896A3;
    font-size: 20px;
}

.activity p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.projects {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
    background-color: #5577FF;
    border-radius: 10px;
}

.projects i {
    color: #FFFFFF;
    font-size: 20px;
}

.projects p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.hr {
    border: none;
    height: 2px;
    background-color: #E0E0E0;
    width: 100%;
    margin: 20px auto;
}

.title-projects P{
    color: #C5C5C5;
    margin: 0;
}

.title-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-projects i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.project img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.project{
    display: flex;
    align-items: center;
    gap: 15px;
}

.project p {
    color: #6e6e7a;
    font-size: 15px;
    font-weight: 500;
}

.title-tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-tasks i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.title-tasks P{
    color: #C5C5C5;
    margin: 0;
}

.task {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.task i {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.task i {
    background: #f3a4b7;
}
.task:nth-child(2) i {
    background: #8bd3f7;
}
.task:nth-child(3) i {
    background: #b9a1f9;
}

.task p {
    color: #6e6e7a;
    font-size: 15px;
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1px 5px;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
    width: fit-content;
    margin-top: 40px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile .name {
    font-size: 15px;
    color: #6e6e7a;
    font-weight: 600;
}

.profile i {
    font-size: 16px;
    color: #6e6e7a;
    margin-left: auto;
}
