body{
    background-color: #F9F8FF;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar-1 {
    width: 17.85%;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    border-right: 1px solid #C5C5C5;
}

.sidebar-2 {
    width: 24.5%;
    background-color: #ffffff;
    padding: 15px;
    border-left: 1px solid #C5C5C5;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 40px;
    height: 40px;
}