body {
    background-color: #F9F8FF;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sidebar-1 {
    width: 17.85%;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    border-right: 1px solid #C5C5C5;
}

.sidebar-2 {
    width: 24.5%;
    background-color: #ffffff;
    padding: 15px;
    border-left: 1px solid #C5C5C5;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
}

.over {
    display: flex;
    align-items: center;
    gap: 20px;
}

.overview i {
    color: #9896A3;
    font-size: 20px;
}

.overview p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.calender {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.calender i {
    color: #9896A3;
    font-size: 20px;
}

.calender p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.analytics {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.analytics i {
    color: #9896A3;
    font-size: 20px;
}

.analytics p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.activity {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
}

.activity i {
    color: #9896A3;
    font-size: 20px;
}

.activity p {
    color: #9896A3;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.projects {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    padding-left: 10px;
    background-color: #5577FF;
    border-radius: 10px;
}

.projects i {
    color: #FFFFFF;
    font-size: 20px;
}

.projects p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.hr {
    border: none;
    height: 2px;
    background-color: #E0E0E0;
    width: 100%;
    margin: 20px auto;
}

.title-projects P{
    color: #C5C5C5;
    margin: 0;
}

.title-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-projects i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.project img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.project{
    display: flex;
    align-items: center;
    gap: 15px;
}

.project p {
    color: #6e6e7a;
    font-size: 15px;
    font-weight: 500;
}

.title-tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-tasks i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.title-tasks P{
    color: #C5C5C5;
    margin: 0;
}

.task {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.task i {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.task i {
    background: #f3a4b7;
}
.task:nth-child(2) i {
    background: #8bd3f7;
}
.task:nth-child(3) i {
    background: #b9a1f9;
}

.task p {
    color: #6e6e7a;
    font-size: 15px;
    font-weight: 500;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1px 5px;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid #e8e8e8;
    width: fit-content;
    margin-top: 40px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile .name {
    font-size: 15px;
    color: #6e6e7a;
    font-weight: 600;
}

.profile i {
    font-size: 16px;
    color: #6e6e7a;
    margin-left: auto;
}

.all-todo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #E6E4F0;
}

.title-todo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-todo i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
}

.title-todo i{
    font-size: 20px;
    color: #6e6e7a;
    padding: 0;
    background-color: white;
}

.title-todo p{
    color: #444444;
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
}

.todo-card{
    border: 1px solid #E6E4F0;
    margin-top: 10px;
    border-radius: 10px;
}

.details{
    display: flex;
    color: #5577FF;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.details p{
    margin: 0;
}

.todo-type-time{
    display: flex;
    justify-content: space-between;
}

.type{
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.type p{
    color: #00B884;
    background-color: #00b8843f;
    padding: 5px;
    border-radius: 33px;
}

.time{
    margin-top: 25px;
    margin-right: 5px;
    color: #BBBABE;
}

.all-notes{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #E6E4F0;
}

.title-note{
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-notes i {
    color: #5577FF;
    font-size: 10px;
    background-color: #5577ff5d;
    padding: 5px;
    border-radius: 5px;
}

.title-note i{
    font-size: 20px;
    color: #6e6e7a;
    padding: 0;
    background-color: white;
}

.title-note p{
    color: #444444;
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
}

.notes{
    margin-top: 20px;
}

.note-card{
    border: 1px solid #E6E4F0;
    margin-top: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}

.head-card{
    display: flex;
    justify-content: space-between;
}

.card-time{
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-time p{
    margin: 0;
    color: #A3A3A3;
}

.card-time i{
    color: #A3A3A3 !important;
    font-size: 20px;
}

.head-card i{
    font-size: 20px;
    color: #1b1b1b;
}

.content-card{
    padding: 10px;
}

.content-card h4{
    margin: 0;
}

.content-card p{
    margin: 5px;
    color: #999999;
}

.categories-card{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.categories-card p{
    margin: 0;
    color: #FD71AF;
    background-color: #fd71b033;
    padding: 5px 15px;
    border-radius: 33px;
}

.main {
    width: 57%;
    padding: 20px;
    box-sizing: border-box;
}

.main h3{
    color: #444444;
    font-size: 20px;
    margin: 0;
}

.folders {
    padding: 10px;
}

.title-folder{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.title-folder i {
    font-size: 20px;
    color: #6e6e7a;
}

.title-folder p{
    color: #444444;
    font-size: 18px;
    margin: 0;
    margin-top: 4px;
}

.content-folder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.folder-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
}

.title-card{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.title-card i{
    color: white;
    padding: 10px;
    font-size: 10px;
    background-color: #b9a1f9;
    border-radius: 12px;
}

.title-card p{
    margin: 0;
    color: #444444;
    font-size: 16px;
}

.details-folder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-folder p{
    margin-bottom: 0;
    color: #6e6e7a;
    font-size: 10px;
}

.content-latest-project {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.project-card {
    width: calc(33.333% - 24px);
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 12px rgba(0,0,0,0.04);
    transition: 0.2s ease;
}

.project-card > img {
    width: 95%;
    height: 100px;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 16px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
}

.description img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}


.descreption-project h6 {
    margin: 0;
    font-size: 16px;
}

.descreption-project p {
    margin: 0;
    font-size: 13px;
    color: #6b7280;
}


.description i {
    margin-left: auto;
    color: #9ca3af;
    cursor: pointer;
}


.categories-project {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
}

.categories-project p {
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    color: #00B884;
    background-color: #00b88431;
    font-weight: 500;
}